<!DOCTYPE html>
<html>
    <head>
        <title>Memoer Game</title>
        <link rel="stylesheet" href="/static/styles.css">
        <style>
            img.Pback{
            
                height:100px; 
                width:100px;
            }
            img.Phover{
                position: relative;
                display:none;
                height:100px; 
                width:100px;
            }
            div.card:hover img.Pback{
                display:none;
            }
            div.card:hover img.Phover{
                display:block;
            }
        </style>
    </head>
    <body>
        {%for row in range(numRows|int)%}
        <div>
            {%for element in range(numColls|int)%}
            <div class="card">
                <img class="Pback"  src=/static\images\back.jpg>
                <img class="Phover"  src=/static\images\hover.png>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </body>
</html>
