<!DOCTYPE html>
<html>
    <head>
        <title>Memoer Game</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="\static\script.js" async></script>
    </head>
    
    {% block body %}
        <h1 class='pageTitle'>Memory Game</h1>
        <div class="game-container">
            <div class="game-info-container">
                <div class="game-info">
                    <b>Time</b> <span id="time-remaining">100</span>
                </div>
                <div class="game-info">
                    <b>Flip</b> <span id="flips">0</span>
                </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\emotion\joy4.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\emotion\joy4.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\emotion\angry2.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\emotion\angry2.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl6.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl6.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl3.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl3.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl5.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl5.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl8.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl8.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl9.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl10.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl10.jpg'>
              </div>
            </div>

            <div class='card '>
              <div class='card-back card-face'>
                <img class='card-back-value' src='/static\images\hover.jpg'>
              </div>
              <div class='card-front card-face'>
                <img class='card-front-value' src='/static\images\people\ppl9.jpg'>
              </div>
            </div>
        <!--{%for row in range(numRows|int)%}
        <div>
            {%for element in range(numColls|int)%}
            <div class="card">Hello Wold!</div>
            {% endfor %}
        </div>
        {% endfor %} -->
    {% endblock %}
</html>
