{% extends 'newbase.html' %}
{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}
<!-- <style>
    #menu1 {
        background-color: grey;
    }
</style> -->
<p>This will be our Home page.</p>
<div id="alert-messages">    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <button style="position: absolute; font-size: 24px; width: 50%; margin-left: 350px; margin-top: 20px; text-decoration: solid; font-size: small; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: red;">{{msg}}</button>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<script>
    function closeHelpDiv(){
        document.getElementById("alert-messages").style.display=" none";
    }
    window.setTimeout( closeHelpDiv, 2000 );
</script>
{% endblock %}