div{
    position: relative;
}
div.card{display:inline-block;
    background-color:"blue";
}
img.Pback{
            
    height:100px; 
    width:100px;
}
img.Phover{
    position: relative;
    display:none;
    height:100px; 
    width:100px;
}
div.card:hover img.Pback{
    display:none;
}
div.card:hover img.Phover{
    display:block;
}
