{% extends 'newbase.html' %}
{% block head %}
<title>Assessments</title>
{% endblock %}

{% block body %}

<div class="text">     
    <h class="heading">Assessments</h>
    <p>
        Now that you have learned and gone through all the games in Content Page -- we have some assessments for you.
        <br><br>
        Start from level 1 with grid size of 2x2 -- Size will be increased after each round -- Only <big><big><u>50 flips</u></big></big> for each game
        so use them WISE! 
        <br>
        Let's see how far can you go. Goodluck and Have fun :) 
        <br><br>
    </p>
    <big>LEVEL 1</big>
    <a href="getGame/2/2/0/colour/True" class = "link">Colour Theme </a>
    <br>
    <big>LEVEL 2</big>
    <a href="getGame/2/2/0/emotion/True" class = "link">Emotion Theme </a>
    <br>
    <big>LEVEL 3</big>
    <a href="getGame/2/2/0/people/True" class = "link">People Theme </a>
    <br>
    <big>LEVEL 4</big>
    <a href="getGame/2/2/0/similar/True" class = "link">Bonus-Challenging ** </a>
    <br>

</div>
{% endblock %}