{% extends 'newbase.html' %}
{% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Content</title>
{% endblock %}

{% block body %}

        <!--titles of topics discussed in the tutorial , explanation , links to games-->
        <div class = "text">
        <p class = "memoryhead">Emotional Connection</p>
        <p>
            Emotion has a big impact on our memory and how we recall events. The mood we are in when 
            we make a memory and the mood we are in currently both affect our recollection. If we are in a good 
            mood we are more likely to remember joyful memories whereas when we are in a bad mood we are more 
            likely to remember sad or frustrating ones.
            We also pay more attention to things that give an emotional reaction which means we remember
            them eaier. The games below demonstrate the effect of emotions on memory
            
            <br><br>
            Below are 3 matching card games. Click on a card to reveal it and then click on a different card to
            reveal another. If the cards have the same image they will remain revealed. If they don't 
            have the same image they will be flipped back upside down and you try again. The game ends
            when you reveal all the cards or the timer runs out. Try and finish the games as fast as possible
            with the least amount of flips.
            <br><br>
            The first game contains images of people with a neutral facial expression, 
            the second game contains images of people with strong emotional facial expressions
            which invoke emotions on the player and finally the last game is a mixture of emotional and neutral images.
            You should find that you can complete the emotional game faster and with less flips than the neutral one.
        </p>
        <a href="getGame/4/4/0/people/False" class="link">Matching Card Game Neutral</a><br><br>
        <a href="getGame/4/4/0/emotion/False" class="link">Matching Card Game With Emotion Inducing Images</a><br><br>
        <a href="getGame/4/4/0/emotionalExercise/False" class="link">Matching Cards Game Mixed </a>
        <p class="memoryhead">Don't Try Remember Too Much At Once</p>
        <p>
            Our short term memory can hold up to 7 items at a time. Trying to remember more than that is not an effienct
            way of building a long term memory. Trying to memorize things in smaller chunks is a much more effecient
            and effective way to remember larger amounts of information.
            <br><br>
            Below are two more card matching games. The first game is a 3 by 4 grid and the second
            is a 6 by 4. You will find it is much easier to remember where cards are in the first game
            compared to the second as there is much less information. 
            <br><br>
            Once Again try to finish the games as fast as possible with the least amount of flips. Note the difference of
            flips count in both games and compare it with the difference of grid size. Are they linear proportional?
        </p>
        <a href="getGame/4/3/0/All/False" class = "link">Matching Cards Less Cards</a><br><br>
        <a href="getGame/6/4/0/All/False" class="link">Matching Cards More Cards</a>
        <p class="memoryhead">We Remember Things That Stand Out<p>
        <p>
            The Von Restorff effect, also know as the isolation effect, is our tendency to 
            remember things that stand out the most. We see it all the time from highlights in 
            presentations to those absurd TV commercials.<br><br>
            We can use the Von Restorff effect ourselves to remember important information. Highlighting key words
            is an example of the Von Restorff effect that many students use to help revise for tests.
            <br><br>
            The next card maching game has some images that stand out much more than others. You will find it much easier 
            to match the images that stand out over the rest. 
        </p>
        <a href="getGame/4/2/0/standOut/False" class="link" >Card Matching with Stand Out Images</a>
        <p class="memoryhead">Things we have seen before</p>
        <p>
            It is much easier to remember things that we have previous connection to in the past. For 
            example you would find it easier to remember someones name when they share a name with a family
            member that it is to remember someones name who you have no connection to. <br><br>
            A good technique for remembering information to associate it with something are more familiar with.
            <br><br>
            In the next card matching game, There is one card that you will be very familiar with from
            previous games. You will see it is much easier to match that card over the others. 
        </p>
        <a href="getGame/5/2/0/sawBefore/False" class="link">Card Matching with Familiar Card</a>
        <br><br>
        </div>
        <h1>
            <br><br>
        </h1>
{% endblock %}
