<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Content</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/javascript/script.js" async></script>
    </head>
    <body>
        <!--titles of topics discussed in the tutorial , explanation , links to games-->
        <h1>improve your mempory with  emotion</h1>
        <p>In the following section you will have a few game exercises, in this section you will have 3 games, one will include humans that do not trigger emotios, the second one will have pictures that trigger emotion and the third one has a mix of emotional and non emotional images, as you do the following exercises, notice weather you find it easier to remember emotional pictures</p>
        <a href="getGame/4/4/0/people"> 4*4 matching cards game with pictures of people</a>
        <a href="getGame/4/4/0/emotion">4*4 matching cards game with pictures of people that trigger emotions</a>
        <a href="getGame/4/4/0/emotionalExercise">4*4 matching cards game with pictures of people, some of which will trigger emotion</a>
        <h1>the mechanics of working memory and how to use it</h1>
        <p>explain how working memory works and that it is limited interms of the amount of informtion it can store</p>
        <a  href="getGame/2/2/0/All">2*2 matching cards game with different pictures generated randomly from a pool of pictures</a>
        <a href="getGame/4/4/0/All">4*4 matching cards game with different pictures generated randomly from a pool of pictures</a>
        <h1>remember things that stand out?!</h1>
        <a href="getGame/4/2/0/standOut">try this one out</a>
        <h1>We remeber better things that we saw before</h1>
        <a href="getGame/4/2/0/sawBefore">Saw before</a>
        <h1>Assesment </h1>
        <a  href="getGame/4/5/0/All">4*5 matching cards game with different pictures generated randomly from a pool of pictures</a>
        <a href="getGame/6/5/0/All">6*5 matching cards game with different pictures generated randomly from a pool of pictures</a>
    </body>
</html>
