{% extends 'newbase.html' %}
{% block head %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Home</title>
{% endblock %}

{% block body %}
        <div id="alert-messages">    
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <button style="position: absolute; font-size: 24px; width: 50%; margin-left: 350px; margin-top: 20px; text-decoration: solid; font-size: small; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: red;">{{msg}}</button>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <div class = "text">

            <h2 class = "heading">
                <img class = "image" src="/static/css/brain.png" width = "100" height="auto"> MEMORY 
            </h2>
            <p1>
                <br>
                In an age where information is so easily accessable, we dont often have the need to remember 
                much information
                as at any point we can just search on the internet for 
                whatever we want.  
                <br><br>
                What many people don't realise is that besides making you more knowledgeable,
                having a good memory has also shown to improve:
                <div class = "list">
                    <ul>
                        <li>Social Skills</li>
                        <li>Ability to Learn</li>
                        <li>Humour</li>
                        <li>Attention</li>
                        <li>Creativity</li>
                    </ul> 
                </div>
                The world record for most random objects memorized is held by 
                Nischal Narayanam who set the record at just 10 years old. Whilst we
                can't all be the next Nischal Narayanam, we can learn ways to help us remember 
                information better. 
                <br><br>
                This site will teach you about some of the factors that effect memory and has some 
                games to help demonstrate each of these.
                <br><br>
            </p1>

                After completing the content and the games, you will have a greater understanding
                of how memory works, how to remember information better and communicate memorable
                information. 
                <a href="/log-in" class="link">Register/Login</a> to have your progress tracked and head over to the 
                <a href="/contents" class="link">content</a> page to begin. 
            </p2>
        </div>

        <!--the gives the orange band at the bottom of the page-->
        <h1 class = "bottom"><br><br></h1>
{% endblock %}